@using OnlineVoting.Domain.Entities
@model IEnumerable<VoteGroup>

@{
    ViewData["Title"] = " Vote Groups";
}
<p>
     <a asp-action="Create" class="btn btn-primary">Create New Vote Group</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Votes Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>@item.GroupName</td>
                <td>@item.VotesCount</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>